In [2]:
import pandas as pd

In [3]:
# Create DataFrame

df = pd.DataFrame({
    '미국': [2.1, 2.2, 2.3],
    '한국': [0.4, 0.5, 0.45],
    '중국': [10, 13, 15]
})

df

    미국    한국  중국
0  2.1  0.40  10
1  2.2  0.50  13
2  2.3  0.45  15

In [7]:
# Create DataFrame + index

df = pd.DataFrame({
    '미국': [2.1, 2.2, 2.3],
    '한국': [0.4, 0.5, 0.45],
    '중국': [10, 13, 15]
},
 index=[2000, 2010, 2020]
)

df

       미국    한국  중국
2000  2.1  0.40  10
2010  2.2  0.50  13
2020  2.3  0.45  15

In [10]:
# 인덱스로 특정 행 가져오기
df.loc[2000]

# type(df.loc[2000]) --> Series
# 하나의 행을 가져온다는 것은 90도 돌리면 하나의 열이 되기때문에 Series로 처리한다

pandas.core.series.Series

In [12]:
# 인덱스 번호로 특정 행 가져오기
df.iloc[0]

미국     2.1
한국     0.4
중국    10.0
Name: 2000, dtype: float64

In [17]:
# 컬럼명으로 데이터 가져오기
df['미국']

2000    2.1
2010    2.2
2020    2.3
Name: 미국, dtype: float64

In [16]:
# 컬럼명 + 인덱스 명
df['미국'][2010]

2.2