In [1]:
import pandas as pd

In [2]:
doc = pd.read_csv('materials/00_materials/00_data/olist_customers_dataset.csv', encoding='utf-8-sig')

In [3]:
doc.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [8]:
doc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [10]:
doc.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [11]:
doc.index

RangeIndex(start=0, stop=99441, step=1)

In [13]:
doc.describe()

       customer_zip_code_prefix
count              99441.000000
mean               35137.474583
std                29797.938996
min                 1003.000000
25%                11347.000000
50%                24416.000000
75%                58900.000000
max                99990.000000

In [15]:
doc2 = doc[['customer_zip_code_prefix', 'customer_city', 'customer_state']].copy()
doc2

       customer_zip_code_prefix          customer_city customer_state
0                         14409                 franca             SP
1                          9790  sao bernardo do campo             SP
2                          1151              sao paulo             SP
3                          8775        mogi das cruzes             SP
4                         13056               campinas             SP
...                         ...                    ...            ...
99436                      3937              sao paulo             SP
99437                      6764        taboao da serra             SP
99438                     60115              fortaleza             CE
99439                     92120                 canoas             RS
99440                      6703                  cotia             SP

[99441 rows x 3 columns]

In [16]:
doc3 = doc2[doc2['customer_city'] == 'sao paulo']
doc3.shape

(15540, 3)

In [17]:
doc2['customer_city'].value_counts()

sao paulo             15540
rio de janeiro         6882
belo horizonte         2773
brasilia               2131
curitiba               1521
                      ...
curralinho                1
barao de juparana         1
itiquira                  1
sao rafael                1
tabuleiro do norte        1
Name: customer_city, Length: 4119, dtype: int64

In [18]:
doc4 = doc2.groupby('customer_city').count()
doc4

                     customer_zip_code_prefix  customer_state
customer_city
abadia dos dourados                         3               3
abadiania                                   1               1
abaete                                     12              12
abaetetuba                                 11              11
abaiara                                     2               2
...                                       ...             ...
xinguara                                    9               9
xique-xique                                 3               3
zacarias                                    2               2
ze doca                                     5               5
zortea                                      2               2

[4119 rows x 2 columns]

In [19]:
len(doc4.index)

4119

In [20]:
doc4.shape

(4119, 2)